
*,html {
    box-sizing: border-box;
}

html {
    font-family: 'Nunito';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    user-select: none;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: lavender;
}

.section-description p {
    font-family: 'Oswald',sans-serif;
    letter-spacing: 0.9px;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

h3 {
  color: #F4C2C2;
}

.link--text:hover{
    text-decoration: underline;
}

.social_link_icon svg{
    width: 32px;
    height: 32px;
}

.social_link_icon {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.social_link_icon svg:hover {
    animation: dance 1s;
    -webkit-animation: dance 1s;
}

div#particles-js{
    background-size: cover;
    background:  #323840;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -999999;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

.section-header {
    color: white;
    padding: 5px;
    width: 110px;
    margin-top: 40px;
    background: lightslategrey;
}

button {
    color: inherit;
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 10px;
    border: 2px solid lightgray;
    background: transparent;
    cursor: pointer;
    transition: background-color;
}

button:hover{
    color: white;
    border-color: white;
    background: #343838;
}

img {
  border-radius: 50%;
  width: 145px;
  height: 150px;
}

div#nav-wrapper {
    width: inherit;
    height: inherit;
    margin: auto;
    background: transparent;
    z-index: 100000;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

div#nav-wrapper-header {
    position: relative;
    text-align: center;
}

div#nav-wrapper-header #author_name {
    font-size: 5.0em;
    font-weight: 400;
}

div#nav-wrapper-header #author_name_job_title {
    font-size: 2.2em;
    margin-top: 20px;
    font-weight: 100;
}

div#nav-wrapper-content {
    position: relative;
    width: 57%;
    left: 24%;
}

#credential-description-section1 {
    float: left;
}

#credential-description-section2{
    float:right;
}

#credential-description-sections3{
    clear:both;
}

div#nav-wrapper-footer {
    position: relative;
    left: 24%;
    margin: 50px 0 70px 0;

}

.anim {
    opacity: 0;
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px)
}

/* Dance Animation when icon is clicked or hovered */
@-webkit-keyframes dance {
    11.1% {
        -webkit-transform: none;
        transform: none
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes dance {
    11.1% {
        -webkit-transform: none;
        transform: none
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}
